#root {
  /* width:unset; */
  /* margin: 0 auto; */
  margin: 0;
  padding: 2rem;
  text-align: center;
  width: 100%;
  background: gainsboro;
  
}



/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
  display: block;
  text-align: left;
  padding: 10px 16px;
  margin-bottom: 10px;
  /* border: none; */

  /* width: fit-content; */
}

.addCont {
  /* height: 100px; */
  display: flex;
  flex-direction: row;
  width: fit-content;
  /* justify-content: space-between; */
  gap: 10px;
  background: white;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.contact > * {
  width: 33%;
  min-width: 350px;
}