* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
.main {
    display: block;
    position: relative;
    width: auto;
    height: 200px;
    background: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 16px;
}

.name {
    text-align: left;
    padding: 10px 20px;
}
.city {
    text-align: left;
    padding: 10px 20px;
}

.btn {
   
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: black;
    /* background: gainsboro; */
     /* display: block; */
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;    
    outline: none;
    border: none;
}